.header-fixed {
	background-color: white;
	box-shadow: 0px 2px 10px red;
	padding: 20px 40px;
	height: 80px;
	color: red;
	box-sizing: border-box;
	top:-100px;

	-webkit-transition:top 0.3s;
	transition:top 0.3s;
}

.header-fixed .header-limiter {
	max-width: 1200px;
	text-align: center;
	margin: 0 auto;
}

.header-fixed .header-limiter nav img {
	position: relative;
	margin-left: 0px;
}

.header-fixed #titlesite {
	position: relative;
	margin-right: 80%;
	color: red;
	font-weight: bold;
	font-size: 28px;
}



.header-fixed-placeholder{
	height: 80px;
	display: none;
}


.header-fixed .header-limiter h1 {
	float: left;
	font: normal 28px Cookie, Arial, Helvetica, sans-serif;
	line-height: 40px;
	margin: 0;
}

.header-fixed .header-limiter h1 span {
	color: red;
}

/* The navigation links */

.header-fixed .header-limiter a {
	color: red;
	text-decoration: none;
}

.textRandom:hover {
	color:red;
	cursor: pointer;
}

.header-fixed .header-limiter nav {
	font:16px Arial, Helvetica, sans-serif;
	line-height: 40px;
	float: right;
}

.header-fixed .header-limiter nav a{
	display: inline-block;
	font-family: 'Fjalla One', sans-serif;
	padding: 0 5px;
	text-decoration:none;
	font-weight: bold;
	color: red;
	opacity: 0.9;
}

.header-fixed .header-limiter nav a:hover{
	opacity: 1;
}

.header-fixed .header-limiter nav a.selected {
	color: red;
	pointer-events: none;
	opacity: 1;
}

/* Fixed version of the header */

body.fixed .header-fixed {
	padding: 10px 40px;
	height: 50px;
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 1;
}

body.fixed .header-fixed-placeholder {
	display: block;
}

body.fixed .header-fixed .header-limiter h1 {
	font-size: 24px;
	line-height: 30px;
}

body.fixed .header-fixed .header-limiter nav {
	line-height: 28px;
	font-size: 13px;
}


@media all and (max-width: 600px) {

	.header-fixed {
		padding: 20px 0;
		height: 75px;
	}

	.header-fixed .header-limiter h1 {
		float: none;
		margin: -8px 0 10px;
		text-align: center;
		font-size: 24px;
		line-height: 1;
	}

	.header-fixed .header-limiter nav {
		line-height: 1;
		float:none;
	}

	.header-fixed .header-limiter nav a {
		font-size: 13px;
	}

	body.fixed .header-fixed {
		display: none;
	}

}


body {
	margin: 0;
	padding: 0;
	height: 1500px;
	background-color: white;
}


article { 
	display: flex;
	align-items: center;
	padding: 8px 12px;
	margin-left: 100px;
	margin-right: 20px;
	cursor: pointer;
	
}

article:hover{
	border-radius: 20px;
	box-shadow: 0px 1px 35px black;
}

.thumb {
	height: 70px;
	border-radius: 10px;
}

.details {
	padding: 8px 22px;
}

#tituloTTT {
	text-decoration: none;
}

#subtitle{
	text-decoration: none;
}

#videoTitulo {
	margin-left: 200px;
	font-size: 100px;
	color: red;
}

html{ 
	scroll-behavior: smooth;
}